#!/bin/bash
# module.sh.j2 — System-wide module init that dispatches by shell type
# Deployed to /usr/share/module.sh by Ansible

trap "" 1 2 3

case "$0" in
    -bash|bash|*/bash) . /usr/share/lmod/lmod/init/bash ;;
       -ksh|ksh|*/ksh) . /usr/share/lmod/lmod/init/ksh ;;
       -zsh|zsh|*/zsh) . /usr/share/lmod/lmod/init/zsh ;;
          -sh|sh|*/sh) . /usr/share/lmod/lmod/init/sh ;;
                    *) . /usr/share/lmod/lmod/init/sh ;;
esac

trap - 1 2 3
